{%- assign dayData = site.data.days[page.date] -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ dayData.title }}">
    <meta name="description" content="{{ dayData.description }}">

    <title>{{ dayData.title }} - {{ dayData.description }}</title>

    <link
      href="/assets/images/favicon--64.png"
      rel="shortcut icon"
      type="image/png"
    >

    <link
      href="/assets/main.css"
      rel="stylesheet"
    >

    <!-- Twitter meta tags -->
    <meta
      name="twitter:card"
      content="summary"
    >
    <meta
      name="twitter:title"
      content="{{ dayData.title }}"
    >
    <meta
      name="twitter:description"
      content="{{ dayData.description }}"
    >
    <meta
      name="twitter:image"
      content="{{ site.url }}{{ dayData.covers.first.imageUrl }}"
    >

    <!-- Open Graph (Facebook) meta tags -->
    <meta
      property="og:title"
      content="{{ dayData.title }}"
    >
    <meta
      property="og:description"
      content="{{ dayData.description }}"
    >
    <meta
      property="og:type"
      content="website"
    >
    <meta
      property="og:url"
      content="{{ site.url }}"
    >
    <meta
      property="og:image"
      content="{{ site.url }}{{ dayData.covers.first.imageUrl }}"
    >
  </head>

  <body>
    <div class="main">
      {% for cover in dayData.covers %}
      <a
        class="cover"
        href="{{ cover.link }}"
        style="background-image: url('{{ cover.imageUrl }}')"
      ></a>
      {% endfor %}
    </div>

    <nav
      class="nav"
    >
      <a
        href="{{ dayData.prevLink }}"
        class="nav-link nav-link--prev"
      >
        ←
      </a>

      <h1
        class="nav-header"
      >
        {{ dayData.dayString }}
      </h1>

      <a
        href="{{ dayData.nextLink }}"
        class="nav-link nav-link--next"
      >
        →
      </a>
    </nav>
  </body>
</html>
