body {
  margin: 0;
  background-color: white;
}

.main {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}

.cover {
  flex: 0 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media(min-width: 720px) {
  .main {
    flex-direction: row;
  }

  .cover {
    flex: 1 0 auto;
    background-position: top;
    background-size: cover;
    filter: grayscale(1);
  }

  .cover:hover {
    background-position: center;
    background-size: contain;
    filter: grayscale(0);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.nav-link {
  line-height: 64px;
  width: 64px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.nav-link--prev {
  border-right: 1px solid white;
}

.nav-link--next {
  border-left: 1px solid white;
}
